<div>
  <div class="uk-card">
    <div class="uk-card-media-top">
      {% if person.image %}
        <a href="/people/{{ person.slug }}/">
          <img
               class="img-rounded img-responsive"
               src="{{ person.image }}"
               alt="{{ person.title }}"
               loading="lazy"
               width="270"
               height="270"
               >
      </a>
      {% endif %}
    </div>
    <div class="uk-card-body">
      <h3 class="card-title-xsmall article-title-font">
        <a href="/people/{{ person.slug }}/">{{ person.title }}</a>
        {% if person.fellow %}<span class="uk-badge" style="background:#003366;font-size:0.65rem;vertical-align:middle;margin-left:0.3rem">MPCR Fellow</span>{% endif %}
      </h3>
      <div class="content-secondary">{{ person.bio }}</div>
      <div class="card-meta">
        {% if person.email and person.email != "" %}
        <b><a href="mailto:{{ person.email }}">{{ person.email }}</a></b>
        {% endif %}
      </div>
    </div>
  </div>
</div>
